body {
    font-family: verdana;
    text-align: center;
    background-image: linear-gradient(to right,#03a1fc,#033dfc);
}
img {
    background-color: #d6bd30;
    border-radius: 5px;
}
div {
    color: rgb(1, 10, 1);
}
div.about_me {
    background-color: #d6bd30;
    border-radius: 5px;
}
ul {
    text-align: center;
}
li {
    display:table;
    margin:0px auto 0px auto;
}