body {
    font-family: verdana;
    text-align: center;
}
img {
    background-color: #d6bd30;
    border-radius: 5px;
}
div {
    color: rgb(1, 10, 1);
}
#grad {
    background-image: linear-gradient(to right,#03a1fc,#033dfc);
}
div1 {
    background-color: #d6bd30;
    border-radius: 5px;
}